<h2 class="text-center">{%= __("Statement Of Account") %}</h2>
<h4 class="text-left">
	{% if (filters.customer) { %}
	{%= __("Customer: ")%}	{%= filters.customer %}
	{% } %}
		
</h4>
<h4 class="text-left">
	{% if (filters.from_date) { %}
	{%= __("From Date: ")%}	{%= filters.from_date %}
	
	{% } %}
	
</h4>
<h4 class="text-left">
	{% if (filters.to_date) { %}
	{%= __("To Date: ")%}	{%= filters.to_date %}
	{% } %}
	
</h4>
	
<hr>
<table class="table table-bordered">
	<thead>
		<tr>
			<th style="width: 8%">{%= __("Date") %}</th>
			<th style="width: 8%">{%= __("Voucher Type") %}</th>
			
			<th style="width: 10%">{%= __("Total Amount") %}</th>
			<th style="width: 10%">{%= __("Recieved Payment") %}</th>
			<th style="width: 10%">{%= __("Balance Amount") %}</th>
		</tr>
	</thead>
	<tbody>
		{% for(var i=0, l=data.length-1; i<l; i++) { %}
			<tr>
			
				<td>{%= frappe.datetime.str_to_user(data[i].posting_date) %}</td>
				<td>{%= data[i].voucher_type%}</td>
				
				<td>{%= data[i].total_amount%}</td>
				<td>{%= data[i].received_amount%}</td>
				<td>{%= data[i].balance_amount%}</td>
				
			</tr>
		{% } %}
	</tbody>
</table>
<p class="text-right text-muted">Printed On {%= frappe.datetime.str_to_user(frappe.datetime.get_datetime_as_string()) %}</p>
